.nav {
    grid-area: n;
    background-color: #517b9e;
   /*padding: 20px;*/

}

.item {
    margin: 20px;
    color: #c0daf0;
    text-decoration: none;

}

/*.item:hover{*/
/*    color: darkgreen;*/
/*}*/

/*.item:active{*/
/*    color: red;*/
/*}*/

.activeLink {
    color: white;

}

nav div{
    height: 5vh;
    display: flex;
    align-items: center;

}
nav div:hover{
    background-color: #466782;
}

